.arkplan{
    background-image: url("../img/arkaplan_4\ copy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 93.83vh;
}






.konustu{
    border:3px rgb(0, 197, 30) solid;
}

.suskun{
    border:3px rgb(197, 0, 0) solid;
}




